/**/*

!/.dockerignore
!/.gitignore
!/cloudbuild.yaml
!/Dockerfile
!/pipeline.wdl
!/README.md

!/reference/*.bed
!/scripts/
!/scripts/**/*.R
!/scripts/**/*.sh
!/scripts/ChromatinGWASPipeline
!/test_data/
!/test_data/**/*
!/igv/
!/igv/**/*
